{
 box-sizing: border-box;
 margin: ;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0; 
}

h1{font-size: 3.5em; }
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{ font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em}

button{
 font-size: 1.5em;
 font-weight: bold;
 padding: 30px 20px;
 border-radius: 10px;
 border: 1px solid rgba(0,0,0,0.5);
 box-shadow: 3px 2px 10px rgba(0,0,0,0.5);
 color: orangered;
 background-color: darkred;
}

wave{
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
.hero{
	height: 70vh;
	width: 100%;

}



/*MENU*/

nav {
	display: flex;
	aling-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

/*Logo*/

.logo{
	color: white;
	font-size: 40px;
	letter-spacing: 5px;
	cursor: pointer;
}

span{
	color: hot;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 40px 20px;
}

nav ul li a{
	color: pink;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: whitesmoke;
	transition: .4s;
}

.btn:hover{
	transform: scale(1.2);
}

.content{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

h5{
	color: hsla(0,0%,100%,0.76);
	margin: 20px 0px 20px;
	font-size: 65px;


}

#info-general{
    
}
#info-general .contenedor{
  text-align: center;
  padding: 100px 12px;
}


}
#seccion2 .contenedor{
 padding: 30px 10px;
}

#seccion2 h2{
 margin-top: 0;  
 font-size: 3.2em;
}

#seccion2 p{
  display: none;
  
}

#seccion2 .carta{
    background-position: center center;
     background-size: cover; 
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
       0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(gomitas_img/dulces.jpeg); 
         
}

.carta:nth-child(2){
    background-image: linear-gradient(
       0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(gomitas_img/gomitas1.jpeg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
       0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(gomitas_img/huevitos.jpeg); 
        
}

#seccion3 .contenedor{
    text-align: center;
    padding: 100px 122px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
    
}

footer{
    background-color: white;
}
footer p{
    margin: 0;
    padding: 1px;
    color: black;
    
}

footer .contenedor{
 height: 100px; 
 display: flex;
 justify-content: center;
align-items: end;
}

@media (min-width: 720px){
    header{
     position: fixed;
     width: 100%;
        
    }    

header .contenedor{
  flex-direction:  row;
  justify-content: space-between;
    } 
header nav{
flex-direction: row; 
   padding-bottom: 0;
   padding-right: 20px;
    }
    
    #hero h1{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }
    
    #info-general .contenedor{
    display: flex;
    justify-content: space-evenly;
    }
    
    #info-general .texto{
        width:  50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #info.ganeral h2{
      margin-top: 0px;  
    }
    
    #info-general .img-contenedor{
       background-image: url(gomitas_img/logo1.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px; 
    }
    #seccion2 .info_productos{
     display: flex;
     justify-content: center;   
        
    } 
    #seccion2 p{
     display: block; 
     margin-bottom: 30;
    }
    
    #seccion2 h3{
        margin-top: 0; 
    }
    
    #seccion2 .carta{
      padding: 50px;
      
    } 


    
 #seccion4 .contenedor{
  text-align: center;
  padding: 30px 15px;
}
    
 

    #seccion4 .contenedor{
        text-align: center center;
        flex-direction: row;
    }
    
    #caracteristicas ul{
        margin-left: 80px;
    }
    
    @media(min-width: 1200px){
        #caracteristicas{
            background-position: calc(100vw - 800px);
        }
    }
}